<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>4020</TotalTime><Application>LibreOffice/25.8.5.2$Windows_X86_64 LibreOffice_project/9c8b85f387cc00a89945a79c9e6239f32e450ac2</Application><AppVersion>15.0000</AppVersion><Pages>1</Pages><Words>224</Words><Characters>1198</Characters><CharactersWithSpaces>1578</CharactersWithSpaces><Paragraphs>43</Paragraphs><Company>Hewlett-Packard Company</Company></Properties>